@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');
/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente personalizada: Baloo 2 */

body {
  font-family: 'Baloo 2', sans-serif;
  background: #faf4e4;
}


.pt-20 {
  padding-top: 80px;
}
@media (min-width: 768px) {
  .md\:pt-52 {
    padding-top: 208px;
  }
}